.singlePokemonCard {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
}

.singlePokemonCard__image {
	display: flex;
	justify-items: center;
	align-content: center;
	justify-content: center;
	width: 35%;
}

.singlePokemonCard__image > img {
	object-fit: contain;
	width: 70%;
	height: auto;
}

.singlePokemonCard__data {
	display: flex;
	align-items: center;
}

.singlePokemonCard__data > h4 {
	font-size: 50px;
}

.singlePokemonCard__tags {
	display: flex;
	overflow-x: hidden;
	overflow-y: hidden;
}

.singlePokemonCard__tags::-webkit-scrollbar {
	display: none;
}

.singlePokemonCard__tags > h4 {
	border: 1px solid black;
	padding: 5px;
	display: flex;
	justify-content: center;
	border-radius: 1rem;
	width: 100px;
	margin-right: 5px;
}

.singlePokemonCard__evolutionsContainer {
	display: flex;
}

.singlePokemonCard__evolutions {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.singlePokemonCard__evolutions > img {
	width: 35%;
	object-fit: contain;
}

.singlePokemonCard > h4 {
	margin-top: 50px;
	font-size: 30px;
}

.singlePokemonCard > hr {
	height: 5px;
	width: 100px;
}

@media only screen and (max-width: 1250px) {
	.singlePokemonCard__image > img {
		object-fit: contain;
		width: 200px;
		height: auto;
	}
}

@media only screen and (max-width: 750px) {
	.singlePokemonCard__image > img {
		object-fit: contain;
		width: 200px;
		height: auto;
	}

	.singlePokemonCard > h4 {
		margin-top: 50px;
		font-size: 20px;
	}

	.singlePokemonCard__tags > h4 {
		border: 1px solid black;
		padding: 2px;
		display: flex;
		justify-content: center;
		border-radius: 1rem;
		width: 60px;
		font-size: 12px;
		margin-right: 5px;
	}

	.singlePokemonCard__evolutions > img {
		width: 70%;
		object-fit: contain;
	}
}
